# data files
*.parquet
b*.csv
t*.csv
pref*.txt
*.doc
*.docx
*.json

# pickles
*.pkl
*.bin
*.b
*.bak


# folders
data/
output/
mlruns/
models/
volume/

# metainfo
.ipynb_checkpoints
.obsidian/
.env
.vscode/

# pytest
.pytest_cache/
__pycache__/
