[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
pandas = "*"
mlflow = "~=1.26.0"
python-dotenv = "*"
hyperopt = "*"
boto3 = "*"
prefect = "~=2.3"
s3fs = "*"
evidently = "*"
pymongo = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
ipykernel = "*"
matplotlib = "*"
pytest = "*"
pre-commit = "*"
pytest-timeout = "*"

[requires]
python_version = "3.9"
